<%- include("../header.ejs") %>

    <div class="wrapper">

        <%- include("navbar.ejs") %>



           




            <!-- searchbar start -->

            <div class="container-fluid" style="margin-top: 150px;">

                <center>
                    <div class="col-5 form-group mb-3" mx-auto>
                        <label for="topic">Category:</label>
                        <select class="form-select" aria-label="Default select example" name="category"
                            id="category">
                            <% cat.forEach(data=> { %>
                                <option value="<%= data.id %>">
                                    <%= data.name %>
                                </option>
                                <% });%>
                        </select>
                    </div></center>
        

                <div class="search_wrap search_wrap_6">
                    <div class="search_box">
                        <input type="search" class="input" id="search" placeholder="Search post here">
                        <div class="btn">
                            &nbsp;&nbsp;&nbsp;&nbsp;<box-icon name='search'></box-icon>
                        </div>
                    </div>
                </div>
            </div>
            <!-- searchbar end -->



    </div>



    <div class="container" id="livesearch" style="margin-bottom: 50px;">
        <h3>POPULAR POSTS</h3>
        <div class="row">
            <% blogs.forEach(blog=> { %>

                <div class="col-md-4">
                    <div class="card zoom mb-3">
                        <a href="/userViewBlog/<%= blog.id %>">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h6 class="badge badge-light border text-dark rounded-pill px-3"><i
                                                class="far fa-circle"></i>
                                            <%= blog.category %>
                                        </h6>
                                    </div>
                                    <div class="col-sm-6 text-end">
                                        <i class="fa-solid fa-eye"></i>
                                        <%= blog.totalView%>
                                    </div>
                                </div>
                                <h5 class="card-title">
                                    <%= blog.title%>
                                </h5>
                                <%if(blog.images !=null || blog.images != '' ){ %>
                                    <div class="col-12 mb-3 text-center">
                                       
                                            <img class="img-fluid" style="border-radius: 10px; height: 150px;"
                                                src="/postImages/<%= blog.images %>" alt="" srcset=""> <br>
                                            
                                   
                                    </div>
                                <% } %>
                                <p class="card-text">
                                    <%= stripTags(blog.content) %>
                                </p>
                                <p class="card-text text-right font-italic"><small class="text-muted">
                                        <%= new Date(blog.created_at).toLocaleString('en-US', { year: 'numeric' ,
                                            month: '2-digit' , day: '2-digit' , hour: 'numeric' , minute: 'numeric' ,
                                            hour12: true }) %>

                                    </small>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

                <% });%>
        </div>
    </div>


    <%- include("../footer.ejs") %>


    <script>
        $(document).ready(function () {
            $("#search").keyup(function () {
                var search = $(this).val();
                var cat_id =$("#category").val();
               
                $.ajax({
                    url: "/userLiveSearchCategory",
                    method: "POST",
                    data: {
                        query: search,
                        cat_id: cat_id
                    },
                    success: function (response) {
                        $('#livesearch').html(response);
                    }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log("Error Thrown: " + errorThrown);
                        console.log("Text Status: " + textStatus);
                        console.log("XMLHttpRequest: " + XMLHttpRequest);
                        console.warn(XMLHttpRequest.responseText)
                    }
                })
            })
        });
    </script>

 

        </body>

        </html>